@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	line-height: 20px;
	background-color: #E6EAE8;
}

a {
	color: #20AAE5;
	text-decoration: none;
}

.top_bar {
	width: 100%;
	min-width: 1050px;
	height: 45px;
	background-color: #20aae5;
	border-bottom: 0.25em solid #1894ca;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}

.logo a {
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 30px;
	position: relative;
	top: 9px;
	text-shadow: #73b6e2 0.5px 0.5px 0px;
	color: #1086ba;
}

a:hover {
	text-decoration: none;
}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px
}

nav a {
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	border-bottom: 4px solid #e74c3c;
	color: #fff;
}

.wrapper {
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}

.column {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
}

.user_details {
	width: 25%;
	float: left;
	margin-bottom: 20px;
	margin-top: 10px;
}

.user_details_left_right {
	width: 125px;
	display: inline-block;
	position: absolute;
}

.user_details img {
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}

.main_column {
	float: right;
	width: 73%;
	z-index: -1;
	min-height: 170px;
	margin-top: 10px;
}

.post_form {
	width: 100%;
}

.post_form textarea {
	width: 85%;
	height: 60px;
	border-radius: 4px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
}

.post_form input[type='submit'] {
	width: 10%;
	height: 60px;
	border: none;
	border-radius: 4px;
	background-color: #3498db;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #fafbfd;
	text-shadow: #73b6e2 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type='submit']:active {
	padding: 5px 4px 4px 5px;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0 5px;
	min-height: 75px;
	cursor: pointer;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 4px;
}

#comment_iframe {
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}

#comment_form input[type='submit'] {
	border: none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	width: 13%;
	height: 41px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73b6e2 0.5px 0.5px 0px;
}

.newsfeedPostOptions {
	padding: 0;
	text-decoration: none;
	color: #20AAE5;
	border: none;
}

.newsfeedPostOptions iframe {
	border: 0px;
	height: 17px;
	width: 120px;
}
.like_unlike_button {
	position: absolute;
	top: 2px;
}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498DB;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
}

.like_value {
	display: inline;
	font-size: 14px;
}

.profile_left {
	top: -10px;
	width: 17%;
	max-width: 240px;
	min-width: 130px;
	height: 100vh;
	float: left;
	position: relative;
	background-color: #38b0e9;
	border-right: 10px solid #83D6FE;
	color: #CBEAF8;
	margin-right: 20px;
}

.profile_left img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #83D6FE;
	border-radius: 100px;
}

.profile_info {
	display: list-item;
	background-color: #2980B9;
	width: 100%;
	padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: #E74C3C;
}

.warning {
	background-color: #F0AD4E;
}

.default {
	background-color: #BDC3C7;
}

.success {
	background-color: #2ECC71;
}

.info {
	background-color: #3498DB;
}

.deep_blue {
	background-color: #0043F0;
}

.profile_left input {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}

.delete_button {
	width: 22px;
	padding: 0;
	border-radius: 4px;
	float: right;
	position: relative;
	right: -15px;
	font-size: 12px;
}

#accept_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #FFF;
}

#ignore_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #FFF;
}

.profile_main_column {
	min-width: 675px;
	float: left;
	z-index: -1;
	width: 70%;
}

.profile_info_bottom {
	margin: 10px 0 0 7px;
}

#message_textarea {
	width: 79%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	padding: 4px;
}

#message_submit {
	height: 50px;
	width: 14%;
	margin: 0;
	position: absolute;
	border: none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73b6e2 0.5px 0.5px 0px;
}

.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 7px;
	display: inline-block;
	color: #fff;
}

#blue {
	background-color: #3498DB;
	border-color: #2980B9;
	float: right;
	margin-bottom: 5px;
}

#green {
	background-color: #2ECC71;
	border-color: #27AE60;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow-y: scroll;
	margin-bottom: 10px;
}

.loaded_conversations {
	max-height: 250px;
	overflow-y: scroll;
}

.user_found_messages {
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
	background-color: #D3D3D3;
}

.user_found_messages img {
	height: 40px;
	float: left;
}

#grey {
	color: #8C8C8C;
}

.result_display {
	padding: 5px 5px 0 5px;
	height: 70px;
	margin-top: 10px;
	border-bottom: 1px solid #D3D3D3;
}

.result_display a {
	float: none;
}

.result_display:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}

.live_search_profile_pic img {
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.live_search_text {
	background-color: transparent;
	color: #1E96CA;
}

.live_search_text p {
	margin-left: 10px;
	font-size: 12px;
}

.tab-content {
	margin-top: 25px;
}

.dropdown_data_window {
	background-color: #fff;
	border: 1px solid #DADADA;
	border-radius: 0 0 8px 8px;
	border-top: none;
	width: 300px;
	position: absolute;
	right: 10px;
	top: 45px;
	overflow-y: scroll;
}

.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 13px;
	top: -5px;
}